.meanings{
    display:flex;
    flex-direction:column;
    overflow-y: scroll;
    overflow-x:hidden;
    border-radius:10px;
    border:10px solid rgb(105,105,105);
    scrollbar-width:thin;
    padding:10px 20px;
    height:80vh;
    width:50%;
   
   
}
.sub-title{
    font-size:2vw;
    font-family:'Montserrat',sans-serif;
    color:white;
}
@media(max-width:900px)
{
    .meanings{
        height:60vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}
.singleMean {
    display:flex;
    flex-direction:column;
    border-radius:10px;
    padding:10px 20px;
    margin:10px 0;
}
